<div class="row-fluid" ng-show="curr_stream != ''">
    <table class="table table-hover">
        <thead>
        <th>Found {{curr_streams_data.length }} file(s) in Directory {{curr_stream}}
            <button type="button" class="btn btn-xs btn-success" ng-click="refreshStreamDir()">
                <span class="glyphicon glyphicon-refresh"></span> Refresh
            </button>
        </th>
        </thead>
        <tbody>
        <tr ng-repeat="item in curr_streams_data">
            <td><b>{{ item.file_meta.name }}</b> by <b>{{ item.file_meta.author }}</b> of size <b>{{ item.file_meta.size | bytes }}</b>
                <br/>
                <a ng-href="{{ host }}d/{{ item.file_meta.file_uuid }}">{{ host }}d/{{ item.file_meta.file_uuid }}</a>
                <br/>
                Downloaded: Success# <b>{{ item.num_of_download_ok }}</b> Fail# <b>{{ item.num_of_download_fail }}</b>
            </td>
        </tr>
        </tbody>
    </table>
</div>