.container {
    max-width: 1170px;
    width: 100%;
    padding: 6px;
}

.my-drop-zone {
    border: dotted 3px lightgray;
    border-radius: 10px;
    background-color: white;
}

h1, h3 {
    margin-top: 0.6em;
    margin-bottom: 0.6em;
}

md-input-container .md-errors-spacer {
    min-height: 0;
}

pre {
    display: block;
    padding: 9.5px;
    margin: 0 0 10px;
    font-size: 13px;
    line-height: 1.42857143;
    color: #333;
    word-break: break-all;
    word-wrap: break-word;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 4px;
    white-space: pre-wrap;
}

.nv-file-over {
    border: dotted 3px red;
    border-radius: 10px;
}

.urls {
    font-family: Consolas, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
    border: 1px solid #eeeeee;
    padding: 7px;
    border-radius: 4px;
    font-size: smaller;
    background-color: whitesmoke;
}

.urls:hover{
    background-color: rgba(158,158,158,0.2);
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1px;
    padding: 0;
}