
.my-drop-zone { border: dotted 3px lightgray; }
.nv-file-over { border: dotted 3px red; } 
			
.btn-file {
	position: relative;
	overflow: hidden;
}
.btn-file input[type=file] {
	position: absolute;
	top: 0;
	right: 0;
	min-width: 100%;
	min-height: 100%;
	opacity: 0;
	cursor: inherit;
	display: block;
}

.h_active {
    font-family: Tahoma, serif;
    color: white;
    padding: 10px;
    letter-spacing: 1px;
	font-size: 1.3em;

	background-color: steelblue
}

.h_nactive {
    font-family: Tahoma, serif;
    color: white;
    padding: 10px;
    letter-spacing: 1px;
	font-size: 1.3em;

	background-color: grey;
}

/*.urls {*/
	/*font-family:Consolas,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New, monospace;*/
/*}*/

.flash {
	-webkit-animation-name: flash-animation;
	-webkit-animation-duration: 0.6s;

	animation-name: flash-animation;
	animation-duration: 0.6s;
}

@-webkit-keyframes flash-animation {
	from { background: orangered; }
	to   { background: default; }
}

@keyframes flash-animation {
	from { background: orangered; }
	to   { background: default; }
}