
.my-drop-zone { border: dotted 3px lightgray; }
.nv-file-over { border: dotted 3px red; } 
			
.btn-file {
	position: relative;
	overflow: hidden;
}
.btn-file input[type=file] {
	position: absolute;
	top: 0;
	right: 0;
	min-width: 100%;
	min-height: 100%;
	opacity: 0;
	cursor: inherit;
	display: block;
}

.h_active {
    font-family: Tahoma, serif;
    color: white;
    padding: 10px;
    letter-spacing: 1px;
	font-size: 1.3em;

	background-color: steelblue
}

.h_nactive {
    font-family: Tahoma, serif;
    color: white;
    padding: 10px;
    letter-spacing: 1px;
	font-size: 1.3em;

	background-color: grey;
}
