<md-nav-bar md-selected-nav-item="current_page">
    <md-nav-item md-nav-click="goto('p_transfer')" name="p_transfer">Transfer</md-nav-item>
    <md-nav-item md-nav-click="goto('p_dirs')" name="p_dirs">Directories</md-nav-item>
    <md-nav-item md-nav-click="goto('p_cli')" name="p_cli">CLI</md-nav-item>
</md-nav-bar>

<div ng-show="current_page=='p_cli'">

    <center>
        <h4>The packages were tested and developed under npm 4.5, they don't work with npm 6.4 nor 6.5 (some websockets
            issues)</h4></center>

    <h3 class="md-headline">CLI client</h3>
    <p>StreamBIN comes with a command line tool thanks to which you can publish files and directories from command
        line.</p>

    <b>Instalation:</b>
    <pre>$ npm i --global streambin-cli</pre>
    <b>Usage:</b>
    <pre>$ streambin-cli -a http://streambin.pl/ -d local share my_file1.txt my_directory</pre>
    <p>Address parameters (-a) and Directory name (-d) can be skipped</p>
    <pre>$ streambin-cli share my_file1.txt my_directory </pre>
    <p> The files are published until the <code>node</code> process is closed.</p>

    <p>Visit <a href="https://www.npmjs.com/package/streambin-cli">https://www.npmjs.com/package/streambin-cli</a> for
        more.</p>

    <hr/>

    <h3 class="md-headline">Local server / installation</h3>
    <p>You can install StreamBIN in your local network to share files in your Intranet without external servers
        and
        outgoing traffic.
    </p>

    <b>Instalation:</b>
    <pre>$ npm i --global streambin</pre>

    <b>Usage:</b>
    <pre>$ streambin -h http://192.168.0.1/ -p 9001</pre>

    <p>Now, open http://localhost:9001 and share your files. The host (-h) parameter is used to create links to
        resources
        - you can use your internal LAN Ip address for that.</p>

    <p>Visit <a href="https://www.npmjs.com/package/streambin">https://www.npmjs.com/package/streambin</a> for
        more.</p>

</div>

<div ng-show="current_page=='p_transfer'" nv-file-drop="" uploader="uploader">

    <input id="f1" type="file" nv-file-select="" uploader="uploader" multiple class="ng-hide">
    <input id="f2" type="file" nv-file-select="" uploader="uploader" multiple class="ng-hide" webkitdirectory directory>

    <div ng-show="!total_files">

        <center>
            <h3 class="md-headline">Choose files or directories
                <p class="md-body-1">
                    The files are streamed to the receiver, never persisted on the server
                </p>
            </h3>

            <div class="my-drop-zone" nv-file-over="" uploader="uploader">
                <br/><i class="material-icons">file_upload</i><br/>

                <span ng-show="drag_and_drop">
                    Drag and drop here or
                </span>

                <md-button class="md-primary md-raised" ng-click="fire_click('#f1')">
                    <i class="fa fa-file" aria-hidden="true"></i>
                    Select file
                </md-button>
                <md-button ng-show="chrome" class="md-primary md-raised md-hue-2" ng-click="fire_click('#f2')">
                    <i class="fa fa-folder" aria-hidden="true"></i>
                    Select directory
                </md-button>

                <span ng-show="!chrome">
                    <i>[use Chrome to select whole directories]</i>
                </span>
            </div>
        </center>

    </div>

    <div ng-show="total_files > 0">

        <center>
            <h3 class="md-headline">Now, you can download the files or select more
                <p class="md-body-1">
                    To cancel publishing and close all the clients simply <a href="javascript:location.reload();">reload</a> or <a ng-click="close_page()" href>close</a> this page
                <p>
            </h3>

            <div class="my-drop-zone" nv-file-over="" uploader="uploader">
                <br/><i class="material-icons">file_upload</i><br/>

                <span ng-show="total_files == 1">
                    <code><b>{{total_files}}</b> file has been selected</code><br/>
                </span>

                <span ng-show="total_files > 1">
                    <code><b>{{total_files}}</b> files have been selected</code><br/>
                </span>
                <div id="msgs_here"></div>

                <span ng-show="drag_and_drop">
                Drag and drop here or
                </span>

                <md-button class="md-primary md-raised" ng-click="fire_click('#f1')">
                    <i class="fa fa-file" aria-hidden="true"></i>
                    Select file
                </md-button>
                <md-button ng-show="chrome" class="md-primary md-raised md-hue-2" ng-click="fire_click('#f2')">
                    <i class="fa fa-folder" aria-hidden="true"></i>
                    Select directory
                </md-button>

                <span ng-show="!chrome">
                    <i>[use Chrome to upload whole directories]</i>
                </span>

                <p class="md-body-2">Keep this browser tab selected/visible - it greatly improves the upload speed</p>
            </div>

            <div ng-show="total_files > 1">
                <p class="md-body-1">
                All selected files are published under directory <a href ng-click="open_current_dir();">{{dir_uuid}}</a>

                    <md-menu>
                        <md-button ng-click="openMenu($mdOpenMenu, $event)">
                            Change...
                        </md-button>
                        <md-menu-content width="3">
                            <md-menu-item>
                                <md-input-container md-no-float>
                                    <input type="text" class="form-control"
                                           ng-model="dir_uuid"
                                           placeholder="Directory">
                                </md-input-container>

                                <md-button ng-click="apply_dir(dir_uuid)">Set</md-button>
                            </md-menu-item>
                            <md-menu-item>
                                <md-button ng-click="apply_dir(original_dir_uuid); ">
                                    Directory <b>{{original_dir_uuid}}</b>
                                </md-button>
                            </md-menu-item>
                            <md-menu-item>
                                <md-button ng-click="apply_dir('public'); ">
                                    Directory <b>public</b>
                                </md-button>
                            </md-menu-item>
                        </md-menu-content>
                    </md-menu>
                    <br/>
                    Download whole directory as .zip via:
                </p>

                <input class="urls" ng-click="copy_to_clipboard($event)" readonly size="32"
                       value='{{host}}d/{{dir_uuid}}'>

                <input class="urls" ng-click="copy_to_clipboard($event)" readonly size="4"
                       value='curl -J -O {{host}}d/{{dir_uuid}}'>

                <md-button ng-click="show_qr = !show_qr">
                    QR code
                </md-button>

                <div ng-show="show_qr">
                    <qr type-number="0" correction-level="'L'" size="200" input-mode="'8bit'"
                        text="download_dir_uuid" image="true"></qr>
                </div>

            </div>
        </center>

        <div ng-repeat="(key, theFiles) in the_files">

            <md-card>
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline">{{key}}</span>
                        <span class="md-subhead">{{props[key].size | bytes}} in {{theFiles.length}} file(s)</span>
                    </md-card-title-text>
                </md-card-title>

                <md-card-content>

                    <span ng-if="!props[key].expanded">
                        <code><a href ng-click="props[key].expanded = !props[key].expanded">expand...</a></code>
                    </span>

                    <div ng-if="props[key].expanded">

                        <div layout="row" layout-xs="column" ng-repeat-start="theFile in theFiles">
                            <div flex>
                                <hr/>
                            </div>
                        </div>

                        <div layout="row" layout-xs="column" layout-align="center center">
                            <div flex>
                                <code class="pull-left">{{theFile.metadata.rest_dir}}{{theFile.file.name}}</code>
                                <code class="pull-right">{{theFile.file.size | bytes}}&nbsp;</code>
                            </div>
                            <div flex="nogrow">
                                <center>
                                    <input size="32" class="urls" ng-click="copy_to_clipboard($event)" readonly
                                           value='{{ theFile.download_url }}'>
                                    <input size="4" class="urls" ng-click="copy_to_clipboard($event)" readonly
                                           value='curl -J -O {{ theFile.download_url }}'>

                                    <md-button ng-click="theFile.show_qr = !theFile.show_qr">
                                        QR code
                                    </md-button>

                                    <div ng-show="theFile.show_qr">
                                        <qr type-number="0" correction-level="'L'" size="200" input-mode="'8bit'"
                                            text="theFile.download_url" image="true"></qr>
                                    </div>
                                </center>
                            </div>
                        </div>

                        <div flex ng-repeat-end>

                            <div ng-repeat="instance in theFile.instances" layout="row" layout-xs="column"
                                 layout-align="center center">
                                <div flex>{{ instance.did }}</div>
                                <div flex>
                                    <md-progress-linear md-mode="determinate" value="{{instance.progress}}"></md-progress-linear>
                                </div>
                                <div flex>
                                    <center>
                                         <p>{{ instance.total_received | bytes }} / {{ theFile.metadata.size | bytes}} ({{ instance.progress }} %)</p>
                                    </center>
                                </div>
                                <div flex>
                                    <div ng-show="instance.status !== 'Active'">
                                        <span ng-show="instance.status_code === 200">
                                            <p>Success: {{ instance.status }}</p>
                                        </span>

                                        <span ng-show="instance.status_code === -1">
                                            <p>Error: {{ instance.status }}</p>
                                        </span>
                                    </div>

                                    <md-button class="md-accent md-raised" ng-click="instance.cancel()"  ng-show="instance.status === 'Active'">
                                        Cancel
                                    </md-button>
                                </div>
                            </div>

                        </div>
                    </div>

                </md-card-content>
            </md-card>
        </div>

    </div>

</div>

<div ng-show="current_page=='p_dirs'" flex>

    <h3 class="md-headline">Directory name, which your files will be published with</h3>

    <p class="md-body-1">Every shared file is automatically published under the top-level-aggregator named Directory. By
        default
        the Directory name is uniquely generated for every sharing session, but you may want to set it to a fix value.
        It's useful when sharing multiple files over period of time so you have to
        exchange Directory name only once, and other party can see files inside.
        Keep in mind that when somebody guesses your directory name it can get all the files inside.</p>

    <md-input-container md-no-float>
        <input type="text" ng-model="bind_dir_uuid" placeholder="Directory name">
    </md-input-container>

    <md-button class="md-raised" ng-click="bind_dir_uuid = ''">set clear</md-button>
    <md-button class="md-raised" ng-click="generate_random_dir_uuid()">set random</md-button>
    <md-button class="md-primary md-raised" ng-click="saveMySettings()">save</md-button>

    <p class="md-body-1">Current session Directory <a ng-click="get_stream_data(dir_uuid)" href>{{ dir_uuid }} </a></p>

    <hr/>

    <h3 class="md-headline" style="margin-bottom: 0px">Browse directories
        <md-button class="md-primary md-raised" ng-click="showPrompt($event)">
            Attach directory
        </md-button>
    </h3>

    <div layout="row" layout-xs="column">
        <div flex="nogrow">

            <ul style="list-style-type: none; margin: 0px;">

                <li ng-repeat="item in you_streams">
                    <div layout="row" layout-align="center center">
                        <div flex="nogrow">
                            <i class="material-icons" ng-if="item!=curr_stream">folder</i>
                            <i class="material-icons" ng-if="item==curr_stream">folder_open</i>
                        </div>
                        <div flex>
                            <p class="md-body-1" style="margin:0px">
                                &nbsp;<a ng-click="get_stream_data(item)" href>{{ item }}</a>
                            </p>
                        </div>
                    </div>
                </li>

            </ul>
        </div>
        <div layout-padding flex ng-include="'dir/dir.html'"></div>
    </div>

</div>

<div ng-show="current_page=='p_info'">
    <h3 class="md-headline">Intro</h3>
    <p><b>StreamBIN</b> allows you to use WebBrowser to share files in the Internet as long as web page is opened.
        It was build as a pet project to remedy the typical problem I had which was to send file from one laptop to the
        other without USB sticks, emails or services like Dropbox where you need an account.
        It differs from all these solution in a way that it does not persist any data - everything is done in-flight and
        no account is needed, you can start downloading in seconds.
        This works, as long as your web page is active, when you close/reload it, connection is closed, downloading on
        the other side stops and information about availability is destroyed.</p>

    <h3 class="md-headline">Features</h3>
    <ul>
        <li>Allowing user to send, and the other parties to receive files. For each file, unique, not possible to guess
            ID is generated which is used as a part of URL.
            This file is known only to the publisher, and he needs to inform receiver about that
        </li>
        <li>File is streamed to the server and then directly to the receiver, so downloading can start instantly as no
            buffering is
            required and no data is persisted on the server side
        </li>
        <li>No buffering is done on a server side. Server passes only chunks of raw data from client to receiver</li>
        <li>There is a possibility to upload multiple files and whole directories and group them in the Directory
            aggregator
        </li>
        <li>File is streamed no sooner than the receiver requests the file</li>
    </ul>

    <h3 class="md-headline">Use cases</h3>
    <p>There are several possibilities to use this, off the top of my head, you can:</p>
    <ul>
        <li>Send file to your different machine e.x. from laptop to phone or laptop 1 to laptop 2</li>
        <li>Send file between different OS e.x: windows <-> linux</li>
        <li>Send file to a friend</li>
        <li>Send file to a person you don't know - in real life - publish the file on your phone and let him scan the QR
            code, you don't have to share email or facebook account to send some picture
        </li>
        <li>Share a file in anonymous way, both parties anonymous for instance in chats, IRCs</li>
        <li>Share file with lots of people on the spot, e.x. you may or may not know the people, but want to share a
            picture - publish and allow them to scan QR code
        </li>
    </ul>

    <h3 class="md-headline">Anonymity</h3>
    <ul>
        <li>Application does not keep information about the publisher or receiver in permanent form. The data needed
            to set up connection is kept in server's RAM for the duration of file publishing
        </li>
        <li>No cookies are used</li>
        <li>All information needed to set up sender with receiver is destroyed when publisher closes/reloads the web
            page
        </li>
        <li>It is possible to figure out from which IP certain downloading/uploading happened by looking at the
            apache access log (it logs accessed URLs, not content) on the server
        </li>
    </ul>

    <h3 class="md-headline">Legal</h3>
    <ul>
        <li>The service is provided "AS-IS", which means, there is no warranty whatsoever, you use it at your own risk
        </li>
        <li>Please, don't upload anything illegal or download from unknown people</li>
    </ul>

    <h3 class="md-headline">Contact</h3>
    <ul>
        <li>
            Visit project's <a href="https://github.com/witoza/streambin.pl" target="_blank">GitHub</a> page
        </li>
        <li>
            Drop me a line at <a href="mailto:witold.zegarowski@gmail.com?Subject=StreamBIN%20question">witold.zegarowski@gmail.com</a>
        </li>
    </ul>

</div>

<div ng-show="current_page=='p_stats'">
    <h3 class="md-headline">Stats
        <p class="md-body-1">They are cleared when the app restarts.</p>
    </h3>
    <pre>{{ stats | json}}</pre>
</div>

<br/>
<hr/>

<div layout="row">

    <div flex>
        <p class="md-body-1">
            &copy; 2016 <a href="http://streambin.pl/#/">streambin.pl</a>
        </p>
    </div>

    <div flex="nogrow">
        <p class="md-body-1">
            <a ng-click="current_page = 'p_info'; " href>Learn more</a>
            -
            <a ng-click="showStats()" href>Stats</a>
            -
            <a href="https://github.com/witoza/streambin.pl" target="_blank">GitHub</a>
            <a href="https://github.com/witoza/streambin.pl" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a>
        </p>
    </div>

</div>

<div layout="row">
    <div flex>
        <small>This software is open-source, if you like it, help me share the costs of hosting.</small>
        <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
            <input type="hidden" name="cmd" value="_s-xclick"/>
            <input type="hidden" name="hosted_button_id" value="8XDVW727444WY"/>
            <input type="image" src="https://www.paypal.com/en_US/i/btn/btn_donate_LG.gif" border="0" name="submit"
                   title="PayPal - The safer, easier way to pay online!" alt="Donate"/>
            <img alt="" border="0" src="https://www.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1"/>
        </form>
    </div>
</div>


