<ul class="nav nav-tabs">
    <li role="presentation" ng-class="{active: state==1}"><a ng-click="state=1" href><i
            class="glyphicon glyphicon-transfer"></i> Share Files</a></li>
    <li role="presentation" ng-class="{active: state==2}"><a ng-click="showExplore()" href><i
            class="glyphicon glyphicon-folder-close"></i> Directories</a></li>
    <li role="presentation" ng-class="{active: state==3}"><a ng-click="showMe()" href><i
            class="glyphicon glyphicon-user"></i> Me</a></li>
    <li role="presentation" ng-class="{active: state=='tab_npm'}"><a ng-click="state='tab_npm'" href><i
            class="fa fa-terminal" aria-hidden="true"></i> npm</a></li>
</ul>

<div ng-show="state=='tab_npm'">

    <br/>
    <p>You can install StreamBIN in your local environment to share files in your LAN without external servers and
        outgoing traffic.Visit <a
                href="https://www.npmjs.com/package/streambin">https://www.npmjs.com/package/streambin</a> for details.
    </p>

    <pre>

    $ npm i --global streambin
    $ streambin
    </pre>
    <p>Now open http://localhost:9001 and share your files !</p>
</div>

<div ng-show="state==1" nv-file-drop="" uploader="uploader">

    <div ng-show="!the_files_len">
        <h1 class="h_active">Choose the files to publish</h1>

        <div class="well my-drop-zone" nv-file-over="" uploader="uploader">
            <center>
                <span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span><br>
                Drag and drop here or
                <span class="btn btn-default btn-file">
                    <input type="file" nv-file-select="" uploader="uploader" multiple> select files
                </span>

                <span class="btn btn-default btn-file">
                    <input class="dir_input" type="file" webkitdirectory directory multiple> select directory
               </span>
            </center>
        </div>
        <h1 class="h_nactive">Download the files on the remote machine</h1>
    </div>

    <div ng-show="the_files_len">
        <h1 class="h_active">Choose the files to publish</h1>

        <div class="well my-drop-zone" nv-file-over="" uploader="uploader">
            <center>
                <span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span><br>
                Drag and drop here or
                <span class="btn btn-default btn-file">
                    <input type="file" nv-file-select="" uploader="uploader" multiple> add more files
                </span>
                <span class="btn btn-default btn-file">
                    <input class="dir_input" type="file" webkitdirectory directory multiple> add more directories
               </span>
            </center>
        </div>

        <h1 id="step2" class="h_active">Download the files on the remote machine</h1>

        <center>
            <h3>Now publishing !</h3>
            <p>To cancel publishing and close all the clients <a
                    href="javascript:location.reload();">reload</a> or <a
                    ng-click="close_page()" href>close</a> this page</p>
        </center>

        <center>

            <div ng-show="total_files > 1">
                All files are published under directory <a target="_blank"
                                                           ng-href="#/dir/{{dir_uuid}}"><b>{{dir_uuid}}</b></a>

                <div class="btn-group">
                    <button class="btn btn-default dropdown-toggle btn-sm" type="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        <!--<span class="glyphicon glyphicon-folder-open"></span>-->
                        Change
                        <span class="caret"></span>
                    </button>

                    <ul class="dropdown-menu">
                        <li>
                            <div class="input-group"
                                 style="padding-top: 3px; padding-left: 20px;padding-right: 20px;">
                                <input type="text" class="form-control"
                                       ng-model="dir_uuid"
                                       placeholder="Directory">
                                <span class="input-group-btn">
                                <button type="button" class="btn btn-default"
                                        ng-click="apply_dir(dir_uuid)">Set</button>
                            </span>
                            </div>
                        </li>
                        <li role="separator" class="divider"></li>

                        <li><a ng-click="apply_dir('public'); " href>Directory
                            <b>public</b></a>
                        </li>
                        <li>
                            <a ng-click="apply_dir(original_dir_uuid); "
                               href>Directory <b>{{original_dir_uuid}}</b></a>
                        </li>
                    </ul>
                </div>
                <p>Download whole directory as .zip via:</p>
                <div class="row">
                    <div class="col-md-3"></div>
                    <div class="col-md-6">
                        <div class="form-inline">

                            <input class="form-control urls clipboard " readonly size="31"
                                   value='{{host}}d/{{dir_uuid}}'
                                   onmouseup="return false;">

                            <input class="form-control urls clipboard " readonly size="4"
                                   value='curl -J -O {{host}}d/{{dir_uuid}}'
                                   onmouseup="return false;">

                            <input class="form-control urls clipboard " readonly size="4"
                                   value='wget -O "{{dir_uuid}}.zip" {{host}}d/{{dir_uuid}}'
                                   onmouseup="return false;">

                            <a href ng-click="show_qr = !show_qr">QR code</a>
                        </div>
                        <br/>
                    </div>
                </div>
                <p></p>
                <div ng-show="show_qr">
                    <qr type-number="0" correction-level="'L'" size="200" input-mode="'8bit'"
                        text="download_dir_uuid" image="true"></qr>
                </div>

                <p></p>
            </div>
        </center>

        <div ng-repeat="(key, theFiles) in the_files">

            <div class="panel panel-default">
                <div class="panel-body" style="padding:0 10px 10px 10px">

<h3><code><b>{{key}}</b> {{theFiles.length}} file(s) total {{props[key].size | bytes}}</code></h3>

<span ng-if="!props[key].expanded">
          <code><a href ng-click="props[key].expanded = !props[key].expanded">expand...</a></code>
</span>

<div class="row" ng-repeat="theFile in theFiles" ng-if="props[key].expanded">

    <hr style="margin-bottom: 1px; margin-top: 0px; margin-left: 10px;  margin-right: 10px"/>

    <div class="col-md-6">
        <p class="filep_path_main">{{ theFile.metadata.rest_dir }}{{theFile.file.name}}</p>
    </div>
    <div class="col-md-1">
        <p class="filep_path">{{ theFile.file.size | bytes}}</p>
    </div>
    <div class="col-md-5">
        <center>
            <div class="form-inline">

                <input class="form-control urls clipboard input-sm" readonly size="31"
                       value='{{ theFile.download_url }}'
                       onmouseup="return false;">

                <input class="form-control urls clipboard input-sm" readonly
                       size="4"
                       value='curl -J -O {{ theFile.download_url }}'
                       onmouseup="return false;">

                <input class="form-control urls clipboard input-sm" readonly
                       size="4"
                       value='wget -O "{{theFile.file.name}}" {{ theFile.download_url }}'
                       onmouseup="return false;">

                <a href ng-click="theFile.show_qr = !theFile.show_qr"><span class="filep_path">QR code</span></a>

            </div>

            <div ng-show="theFile.show_qr">
                <p></p>
                <qr type-number="0" correction-level="'L'" size="200" input-mode="'8bit'"
                    text="theFile.download_url" image="true"></qr>
            </div>
        </center>
    </div>

    <div class="col-sm-12">
        <div ng-show="theFile.instances.length > 0">

            <table class="table">
                <colgroup>
                    <col class="col-sm-2">
                    <col class="col-sm-4">
                    <col class="col-sm-4">
                    <col class="col-sm-2">
                </colgroup>
                <thead>
                <tr>
                    <th>Client</th>
                    <th>Progress</th>
                    <th>Downloaded</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="instance in theFile.instances">
                    <td>{{ instance.did }}</td>
                    <td>
                        <div ng-show="instance.status === 'Active'">

                            <div class="progress" style="margin-bottom: 0;">
                                <div class="progress-bar progress-bar-striped" role="progressbar"
                                     ng-style="{ 'width': instance.progress + '%' }">{{
                                    instance.progress }} %
                                </div>
                            </div>

                        </div>

                        <div ng-show="instance.status !== 'Active'">

                    <span ng-show="instance.status_code === 200">
                        <span class="label label-success">OK</span>
                    </span>

                            <span ng-show="instance.status_code === -1">
                        <span class="label label-warning">Error</span>
                    </span>

                            <span>{{ instance.status }}</span>
                        </div>

                    </td>
                    <td>{{ instance.total_received | bytes }} / {{ theFile.metadata.size | bytes
                        }}
                    </td>
                    <td>
                        <button ng-show="instance.status === 'Active'" type="button"
                                class="btn btn-warning btn-xs"
                                ng-click="instance.cancel()">
                            <i class="fa fa-times"></i> Cancel
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <script>
        $(".clipboard ").unbind('click');
        $(".clipboard ").on('click', function (e) {
            $(this).select();
            var v = $(this).val();
            console.log("copied", v);
            document.execCommand('copy');
            var cp = $('<p>Link has been copied</p>');
            cp.fadeOut(2000);
            $(this).parent().append(cp);
        })
    </script>

</div>

                </div>

            </div>
        </div>

    </div>
</div>

<div ng-show="state==2">

    <br>
    <p>Select Directory below to browse or
        <button class="btn btn-default" data-toggle="modal" data-target="#myModal1">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Attach Directory
        </button>
    </p>
    <ul class="nav nav-pills">
        <li role="presentation" ng-repeat="item in you_streams">
            <a ng-click="get_stream_data(item)" href><span
                    ng-class="{'glyphicon glyphicon-folder-open' : item==curr_stream, 'glyphicon glyphicon-folder-close' : item!=curr_stream}"
                    aria-hidden="true"></span> {{ item }}</a>
        </li>
    </ul>

    <div ng-include="'dir/dir.html'"></div>

</div>

<div ng-show="state==3">
    <br/>

    <form class="form-horizontal">

        <div class="form-group">
            <label for="lb1" class="col-sm-4 control-label">Directory name, which your files will be published
                with</label>
            <div class="col-sm-3">
                <input type="text" class="form-control" id="lb1" placeholder="Directory" ng-model="bind_dir_uuid">
            </div>
            <div class="col-sm-2">
                <button type="button" class="btn btn-default btn-block" ng-click="bind_dir_uuid = ''">Clear</button>
                <button type="button" class="btn btn-default btn-block" ng-click="generate_random_dir_uuid()">Set
                    random
                </button>
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-4">
            </div>
            <div class="col-sm-3">
                <button type="button" class="btn btn-success btn-block" ng-click="saveMySettings()">Save</button>
            </div>
        </div>
    </form>

</div>

<div ng-show="state==4">
    <h2>Intro</h2>
    <p><b>StreamBIN</b> allows you to use WebBrowser to share a file in the Internet as long as web page is opened.
        It was build as a pet project to remedy the typical problem I had which was to send file from one laptop to the
        other without USB sticks, emails or services like Dropbox where you need an account.
        It differs from all these solution in a way that it does not persist any data - everything is done in-flight and
        no account is needed, you can start downloading in seconds.
        This works, as long as your web page is active, when you close/reload it, connection is closed, downloading on
        the other side stops and information about availability is destroyed.</p>

    <h2>Features</h2>
    <ul>
        <li>Allowing user to send, and the other parties to receive files. For each file, unique, not possible to guess
            ID is generated which is used as a part of URL.
            This file is known only to the publisher, and he needs to inform receiver about that
        </li>
        <li>File is not uploaded to the server but streamed, so downloading can start instantly as no buffering in
            required and no data is persisted on the server side
        </li>
        <li>No buffering is done on a server side. Server passes only chunks of raw data from client to receiver</li>
        <li>There is a possibility to upload multiple files and group them in the Directory</li>
        <li>File is streamed no sooner than the receiver requests the file</li>
    </ul>

    <h2>Use cases</h2>
    <p>There are several possibilities to use this, off the top of my head, you can:</p>
    <ul>
        <li>Send file to your different machine e.x. from laptop to phone or laptop to laptop</li>
        <li>Send file to a friend</li>
        <li>Send file to a person you don't know - in real life - publish the file on your phone and let him scan the QR
            code, you don't have to share email or facebook account to send some picture
        </li>
        <li>Share a file in anonymous way, both parties anonymous for instance in chats, IRCs</li>
        <li>Share file with lots of people on the spot, e.x. you may or may not know the people, but want to share a
            picture - publish and allow them to scan QR code
        </li>
    </ul>

    <h2>Anonymity</h2>
    <ul>
        <li>At no point application keeps information about the publisher or receiver in permanent form. The data needed
            to set up connection is kept in RAM for the duration of file publishing
        </li>
        <li>No data is persisted on client or server side</li>
        <li>All information needed to set up sender with receiver is destroyed after publisher closes/reloads the web
            page
        </li>
        <li>It is possible to figure out from what machine certain downloaded/uploaded happened by looking at the access
            log (it logs accessed URLs, not content) at the Host server, so please, don't upload anything illegal to
            download from other unknown people. That can be mitigated, if you own the host server, or it is installed
            somewhere when access logs are not kept
        </li>
    </ul>

    <h2>Contact</h2>
    <p>Comments, questions ? send me an e-mail at <a href="mailto:admin@streambin.pl?Subject=StreamBIN%20question">admin@streambin.pl</a>
    </p>
</div>

<div ng-show="state=='stats'">
    <h2>Stats</h2>
    <pre>{{ stats | json}}</pre>
</div>

<hr/>

<div class="pull-left">
    <small>
        &copy; 2016 <a href="http://streambin.pl">streambin.pl</a>
    </small>
</div>

<div class="pull-right">
    <small><a ng-click="state = 4; " href>Learn more</a></small>
    -
    <small><a ng-click="showStats()" href>Stats</a></small>
    -
    <small><a ng-click="state = 4; " href>Contact</a></small>
    -
    <small><a href="https://github.com/witoza/streambin.pl" target="_blank">GitHub</a></small>
    <a href="https://github.com/witoza/streambin.pl" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a>
</div>

<div class="clearfix"/>

<div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel1">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                 <cl></cl>ass="modal-title" id="myModalLabel1">Attach Directory</h4>
            </div>
            <div class="modal-body">
                <p>Enter ID of Directory to attach</p>
                <div class="form-group">
                    <input type="text" class="form-control" ng-model="dir_to_add" placeholder="Directory ID">
                </div>
                <p><span class="label label-warning">Warning</span> This option will persist data in the Local Storage
                    of your browser</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-success" ng-click="add_dir()" data-dismiss="modal">Attach</button>
            </div>
        </div>
    </div>
</div>
